.page {
  background-color: #000;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  line-height: 0;
  /*Сглаживание шрифтов*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Размеры шрифтов*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
}