.popup__description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #FFF;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px 0 0 0;
  }