.form__input {
  min-width: 358px;
  min-height: 14px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline-style: none;
  margin: 0 auto 0 0;
  padding: 0 0 9px 0;
}

@media (max-width: 600px) {
  .form__input {
    min-width: 238px;
  }
}