.footer {
  max-width: 880px;
  margin: 0 auto 0 auto;
  padding: 67px 0 60px 0;
}

@media (max-width: 980px) {
  .footer {
    padding: 48px 50px 36px 50px;
  }
}

@media (max-width: 320px) {
  .footer {
  max-width: 320px;
  padding: 48px 19px 36px 19px;
  }
}